<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Payment Status</title>
  <style>
    body {
      font-family: sans-serif;
      line-height: 1.6;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    .container {
      background-color: #ffffff;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      max-width: 600px;
      width: 90%;
    }

    h1 {
      color: #333;
      margin-bottom: 20px;
    }

    .status {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .status.success {
      color: #28a745;
      /* Green for success */
    }

    .status.failed {
      color: #dc3545;
      /* Red for failure */
    }

    .status.pending {
      color: #ffc107;
      /* Yellow for pending */
    }

    .user-info {
      margin-bottom: 20px;
    }

    .user-info p {
      margin: 5px 0;
    }

    button {
      background-color: #007bff;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Payment Status</h1>
    <p>Thank you for your recent transaction. We are writing to inform you of the current status of your payment.</p>

    <div class="user-info">
      <p><strong>Name:</strong> {{name}}</p>
      <p><strong>Email:</strong> {{email}}</p>
    </div>
    <h2>
      "{{ status }}"
    </h2>

    <p>For further details or assistance, please visit our website at</p>

    <a href="http://localhost:3000" target="_blank">
      <button>Visit Our Site</button>
    </a>
  </div>
</body>

</html>